{% extends 'core/templateVistas.html' %}
{% load static %}

{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'core/css/menuOpcionesBodeguero.css' %}">
</head>

<div class="contenedor">
    <div class="contenido">
        <div class="container">
            <div class="row g-5">
              <div class="col-6">
                <div class="p-3 border bg-light" style="border-radius: 40px; text-align: center;">
                    <a href="{% url 'listarProductosBodeguero' %}" style="text-decoration: none; color: black;">Listar y modificar</a>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3 border bg-light" style="border-radius: 40px; text-align: center;">
                    <a href="{% url 'crear_ficha_producto' %}" style="text-decoration: none; color: black;">Crear ficha</a>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3 border bg-light" style="border-radius: 40px; text-align: center;">
                    <a href="{% url 'listar_ordenes' %}" style="text-decoration: none; color: black;">Listar ordenes</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}