
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'core/css/administrador/registro3.css' %}">
</head>

<body>
    <div class="content">

        <div class="espacio1">
            
            <form action="" method="post" class="form1">
                <h3 style="font-size: 30px;">Modificar precio</h3>
                <br><br><br>
                {% csrf_token %}
                {{form|crispy}}
                <div class="espacioBotones">
                    <button type="submit" class="botonEnviar">
                        <h1 style="color: black; font-family: Arial, Helvetica, sans-serif; font-size: 18px;">
                            Guardar
                        </h1>
                    </button>
                    <br>
                    <a href="{% url 'GestionarPrecios' %}" class="botonEnviar2">
                        <span>
                            <h1 style="color: black; font-family: Arial, Helvetica, sans-serif;">
                                Volver
                            </h1>
                        </span>
                    </a>
                </div>

            </form>
        </div>
    </div>
    
</body>
{% endblock %}