
{% load static %}
{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'core/css/administrador/registro2.css' %}">
</head>

<body>
    <div class="content">

        <div class="espacio1">
            <h3>Modificar Usuario</h3>
            <form action="" method="post">
                <!-- ACA TRAE TODO EL FORM NECESARIO PARA REGISTRARSE EN NUESTRA PÁGINA, TIENE VALIDACIONES, SI SE REPITEN USUARIOS, CONTRASEÑAS DEBILES, ETC.. -->
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="botonEnviar">Enviar</button>
            </form>
        </div>
    </div>
    
</body>
{% endblock %}