{% load static %}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
</head>

<div class="contenedor">
    <div class="contenido">

        <div class="espacio1">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="botonEnviar">Enviar</button>
            </form>
        </div>
    
        <div class="espacio2">
            <a href="{% url 'registro' %}" style="text-decoration: none; color: white;">
                <span>
                    → ¿No tienes una cuenta?, ¡Registrate aquí! ←
                </span>
            </a>
        </div>

    </div>
    
</div>