{% extends 'core/Template.html' %}
{% load static %}



{% block contenido %}
<head>
    <link rel="stylesheet" href="{% static 'core/css/Principal.css' %}">
</head>

<div class="contenido">
        
    <img class="fondoDiseño" src="{% static 'core/imagenes/Fondo.jpg' %}" alt="">
    <img class="bannerDiseño" src="{% static 'core/imagenes/banner.png' %}" alt="">

    <img class="imagenCatalogo" src="{% static 'core/imagenes/catalogo.png' %}" alt="">
    
    <div class="content">
        
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>

        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        <div id="cartas">
            <div class="card">
              
              <div class="card-body">
                <img src="{% static 'core/imagenes/guitarra.png' %}" class="imagenCarta" alt="...">
                <h5 class="card-title">Hola</h5>
                <p class="card-text">Precio descuento: $ 1111</p>
                <p class="card-text">Precio: 2222</p>
                <p class="card-text">Stock: 4</p>
                <p class="card-text">Descuento: 20%</p>
                <a href="#" class="btn1">Comprar</a>
              </div>
            </div>
        </div>
        
</div>
{% endblock %}