{% load static %}
{% load crispy_forms_tags %}
<!-- ESTAS ETIQUETAS SON PARA TRAER RECURSOS DEL PROYECTO, EJEMPLO: LOAD STATIC, TRAE LA HOJA DE ESTILOS Y CRISPY FORMS PARA TRABAJAR FORMULARIOS  -->

<head>
    <link rel="stylesheet" href="{% static 'core/css/registro.css' %}">
</head>

<body>
    <div class="content">

        <div class="espacio1">
            <form action="" method="post">
                <!-- ACA TRAE TODO EL FORM NECESARIO PARA REGISTRARSE EN NUESTRA PÁGINA, TIENE VALIDACIONES, SI SE REPITEN USUARIOS, CONTRASEÑAS DEBILES, ETC.. -->
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="botonEnviar">Enviar</button>
            </form>
        </div>
    
        <div class="espacio2">
            <!-- ESTE ES UN LINK PARA REDIRIGIRNOS AL APARTADO DEL LOGIN, PARA QUE PODAMOS INICIAR SESIÓN CON NUESTRO NUEVO USUARIO O UNO YA EXISTENTE -->
            <a href="{% url 'login' %}" style="text-decoration: none; color: white;">
                <span>
                    → ¿Ya tienes una cuenta?, ¡Inicia sesión! ←
                </span>
            </a>
        </div>

    </div>
    
</body>