{% load static %}
{% load djmoney %}
<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicPro Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/Template.css' %}">

</head>

<body>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <nav>
            <div class="nav1">
                <div class="logo">
                    <a href="{% url 'principal' %}">
                        <img class="imagenLogo" src="{% static 'core/imagenes/logoSinFondo.png' %}" alt="">
                        <img class="imagenLogo4" src="{% static 'core/imagenes/logoSinFondo.png' %}" alt="">
                        <img class="imagenLogo2" src="{% static 'core/imagenes/logoSinFondo.png' %}" alt="">
                        <img class="imagenLogo3" src="{% static 'core/imagenes/logoSinFondo.png' %}" alt="">
                    </a>
                </div>
                <div class="enlaces">
                    <ul class="nav">
                        <div class="navegador">
                            <li>
                                <form class="d-flex" role="search"> 
                                    <input class="form-control me-3" type="search" placeholder="Buscar" aria-label="Buscar"  id="buscador">
                                    <button class="btn btn-light" type="submit">
                                        <img src="{% static 'core/imagenes/busqueda.gif' %}" alt="">
                                    </button>
                                </form>
                            </li>
                        </div>

                        <div class="separacion1"></div>

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="borde" href="{% url 'logout' %}">
                                <img class="logoEnlace" src="{% static 'core/imagenes/salir.png' %}" alt="">
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="borde" href="{% url 'login' %}">
                                <img class="logoEnlace" src="{% static 'core/imagenes/usuario.png' %}" alt="">
                            </a>
                        </li>
                        {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="borde" href="#">
                                <img class="logoEnlace1" src="{% static 'core/imagenes/carrito.png' %}" alt="">
                            </a>
                        </li>
                        <!-- NO ES UN ERROR, SOLO QUE EL HTML NO LO RECONOCE DENTRO DE LA ETIQUETA STYLE -->
                        <div
                            class="contenidoCarrito {% if request.session.carrito.items|length > 0 %} overflow-scroll {% else %} overflow-hidden{% endif %}">
                            <table class="listaCarrito">
                                <tbody>
                                    {% if request.session.carrito.items %}
                                    {% for key, value in request.session.carrito.items %}
                                    <tr>
                                        <thead>
                                            <tr>
                                                <th>Imagen</th>
                                                <th>Nombre</th>
                                                <th id="precioAco">Precio</th>
                                                <th id="cantidad1">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th><img class="imagenCarrito" src="{{ value.imagen }}"></th>
                                                <th class="datosTabla">{{ value.nombre }}</th>
                                                <th class="datosTabla">${% money_localize value.acumulado  'CLP' %}</th>
                                                <th class="datosTabla3">
                                                    <a href="{% url 'Add' value.producto_id %}"
                                                        class="badge btn btn-dark badge-dark">+</a>
                                                    <span>{{value.cantidad}}</span>
                                                    <a href="{% url 'Sub' value.producto_id %}"
                                                        class="badge btn btn-dark badge-dark">-</a>
                                                        <h1 class="alertaStock">{{value.mensaje}}</h1>
                                                </th>
                                                <th class="datosTabla2">
                                                    <a href="{% url 'Del' value.producto_id %}">
                                                        <img src="{% static 'core/imagenes/icons8-basura.gif' %}"
                                                            alt="">
                                                    </a>
                                                </th>
                                                <th class="datosTabla2">
                                                    <a href="{% url 'detalle_producto' value.producto_id %}">
                                                        <img src="{% static 'core/imagenes/icons8-información (1).gif' %}"
                                                            alt="">
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th class="precioTotal">Total: ${% money_localize total_carrito  'CLP' %}</th>
                                    </tr>
                                    {% else %}

                                    <div class="aviso">
                                        <img src="{% static 'core/imagenes/empy.gif' %}" id="gifVacio" alt="">
                                        <h3>Carrito Vacío :/</h2>
                                    </div>

                                    {% endif %}
                                </tbody>
                            </table>

                            {% if request.session.carrito.items %}
                            <div class="division4"></div>

                            <a href="{% url 'compra' %}" class="boton siete">
                                <div class="icono1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                    </svg>
                                </div>

                                <span id="texto3">Comprar</span>
                                <!-- <a href="{% url 'limpiar' %}" class="btn btn-danger">Limpiar</a> -->
                                <!-- <a href="{% url 'principal' %}" class="btn btn-success">Guardar</a> -->
                            </a>
                            {% endif %}

                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block contenido %}
    {% endblock %}


    <footer>
        <div class="info">
            <ul class="links1">
                <li>
                    <a class="links" href="#">
                        <span class="colorTexto">
                            Redes sociales
                        </span> </a>
                </li>
                <li>
                    <a class="links" href="#">
                        <span class="colorTexto">
                            Devoluciones
                        </span>
                    </a>
                </li>
                <li>
                    <a class="links" href="#">
                        <span class="colorTexto">
                            Despachos
                        </span>
                    </a>
                </li>
                <li>
                    <a class="links" href="#">
                        <span class="colorTexto">
                            Métodos de pago
                        </span>
                    </a>
                </li>
            </ul>

            <div class="separacion2"></div>

            <div class="logoPagina">
                <img class="logoFooter" src="{% static 'core/imagenes/logoSinFondo.png' %}" alt="">
            </div>

            <div class="separacion2"></div>

            <div class="metodosPago">
                Metodos de Pago
                <img class="imagenPago" src="{% static 'core/imagenes/pagos.png' %}" alt="">
            </div>
        </div>
    </footer>

    <script src="{% static 'core/js/template.js' %}"></script>

</body>

</html>