{% extends 'core/Template.html' %}
{% load static %}
{% load djmoney %}


{% block contenido %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'core/css/datostransferencia.css' %}">
  <title>Datos de transferencia</title>
</head>



<body>


  <div class="contenido">

    <div class="Informacion">
      <h1 class="titulo">Datos transferencia</h1>
      <hr>
      <h6>Por favor, realice una transferencia utilizando los siguientes datos de transferencia:</h6>
      <div class="infoDatos">


        <div class="DatosDeTabla">
          <table>

            <tr>
              <td colspan="2">Haz la transferencia a la siguente Cuenta</td>
            </tr>
            <tr>
              <td> Rut: </td>
              <td> 19.983.213-k </td>
            </tr>
            <tr>
              <td> N° de Cuenta: </td>
              <td> 00019983213 </td>
            </tr>
            <tr>
              <td> Tipo de cuenta: </td>
              <td> Cuenta Rut</td>
            </tr>
            </tr>
            <tr>
              <td> Nombre del beneficiario: </td>
              <td> Juan Pérez </td>
            </tr>
            <tr>
              <td>
                Cantidad a transferir:
              </td>
              <td> ${% money_localize total_carrito 'CLP' %} <!--  Aqui se pone la variable del precio total--></td>
            </tr>
            <tr>
              <td> Correo electronico: </td>
              <td> MusicPro@musicpro.cl </td>
            </tr>
          </table>

        </div>
        <div class="Subinfo">
          <p>
            Es importante que revise cuidadosamente los datos de transferencia antes de realizar la transferencia para
            asegurarse de que sean correctos.
          </p>
          <p>Si este no es el método de pago que seleccionó, simplemente presione el botón "Volver" y realice el proceso nuevamente con el método de pago correcto.</p>
          <p>
            También es importante tener en cuenta que el proceso de transferencia puede tardar unos días hábiles en
            completarse. Por favor, planifique en consecuencia y asegúrese de tener suficientes fondos disponibles en su
            cuenta para completar la transferencia.
          </p>
          <p>
            Gracias por elegir nuestros servicios de transferencia. Estamos aquí para ayudarlo en todo lo que necesite.
          </p>
          <hr>
          <p style="font-style: italic;  font-weight: bold;"  >
            Si tiene alguna pregunta o necesita ayuda, no dude en ponerse en contacto con
            nuestro equipo de soporte.

          </p>
          <br>
          <div class="back">      <a href="{% url 'limpiar' %}">
            <button type="button">Volver</button>
          </a></div>
        </div>

      </div>



    </div>

  </div>
</body>

{% endblock %}

