<!-- ES UNA FUNCION DE DJANGO PARA EXTRAER DESDE OTRO HTML LA ETIQUETA DE HEADER & FOOTER -->
{% extends 'core/Template.html' %}
<!-- ESTA FUNCIÓN DE PLANTILLA DE DJANGO CARGA LOS ARCHIVOS ESTÁTICOS EN UNA PÁGINA WEB -->
{% load static %}
<!-- ESTA FUNCIÓN CARGA EL PAQUETE "DJANGO-MONEY",PROPORCIONA HERRAMIENTAS PARA TRABAJAR CON VALORES MONETARIOS -->
{% load djmoney %}

<!-- ESTA FUNCION LLAMA LO QUE ES EL HEADER & FOOTER DEL TEMPLATES -->
{% block contenido %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- ESTA ES LA CONEXION A CSS -->
  <link rel="stylesheet" href="{% static 'core/css/datostransferencia.css' %}">


  <title>Datos de transferencia</title>
</head>

<!-- CUERPO DE LA PAGINA -->
<body>


  <div class="contenido">
    <div class="Informacion">
      <h1 class="titulo">Datos transferencia</h1>
      <hr>
      <h6>Por favor, realice una transferencia utilizando los siguientes datos de transferencia:</h6>
      <!-- ESTE ENGLOBA TANTO LOS DATOSDETABLA COMO SUBINFO -->
      <div class="infoDatos">

<!-- DATOSDETABLA ES LA SECCION DONDE SE ENCUENTRA INFORMACION DE LA TIENDA PARA ENVIAR TRANSFERENCIAS -->
        <div class="DatosDeTabla">
          <table>

            <tr>
              <td colspan="2">Haz la transferencia a la siguente Cuenta</td>
            </tr>
            <tr>
              <td> Rut: </td>
              <td> 19.983.213-k </td>
            </tr>
            <tr>
              <td> N° de Cuenta: </td>
              <td> 00019983213 </td>
            </tr>
            <tr>
              <td> Tipo de cuenta: </td>
              <td> Cuenta Rut</td>
            </tr>
            </tr>
            <tr>
              <td> Nombre del beneficiario: </td>
              <td> Juan Pérez </td>
            </tr>
            <tr>
              <td>
                Cantidad a transferir:
              </td>
              <td> ${% money_localize total_carrito 'CLP' %} <!--  Aqui se pone la variable del precio total--></td>
            </tr>
            <tr>
              <td> Correo electronico: </td>
              <td> MusicPro@musicpro.cl </td>
            </tr>
          </table>

        </div>

        <!-- SUBINFO ES LA SECCION DONDE SE ENCUENTRAN LOS TEXTOS Y EL BOTON LOS CUALES SE MUESTRAN EN LA CAJA DE DATOS DE TRANSFERENCIA -->
        <div class="Subinfo">
          <p>
            Es importante que revise cuidadosamente los datos de transferencia antes de realizar la transferencia para
            asegurarse de que sean correctos.
          </p>
          <p>Si este no es el método de pago que seleccionó, simplemente presione el botón "Volver" y realice el proceso nuevamente con el método de pago correcto.</p>
          <p>
            También es importante tener en cuenta que el proceso de transferencia puede tardar unos días hábiles en
            completarse. Por favor, planifique en consecuencia y asegúrese de tener suficientes fondos disponibles en su
            cuenta para completar la transferencia.
          </p>
          <p>
            Gracias por elegir nuestros servicios de transferencia. Estamos aquí para ayudarlo en todo lo que necesite.
          </p>
          <hr>
          <p style="font-style: italic;  font-weight: bold;"  >
            Si tiene alguna pregunta o necesita ayuda, no dude en ponerse en contacto con
            nuestro equipo de soporte.

          </p>
          <br>
          <!-- ESTE BOTON CON LA CLASE BACK REDIRECCIONA A LIMPIAR, LO CUAL ELIMINA LOS DATOS YA PUESTOS EN EL CARRITO Y DEVUELVE A LA VISTA PRINCIPAL -->
          <div class="back">      <a href="{% url 'limpiar' %}">
            <button type="button">Volver</button>
          </a></div>
        </div>

      </div>



    </div>

  </div>
</body>
<!-- ES DONDE FINALIZA EL BLOCK CONTENIDO -->
{% endblock %}

