{% extends 'core/Template.html' %}
{% load static %}
{% load djmoney %}
<!-- ESTAS ETIQUETAS SON PARA TRAER RECURSOS DEL PROYECTO, EJEMPLO: EXTENDS, TRAER HTML A ESTA VISTA, LOAD STATIC, TRAE LA HOJA DE ESTILOS, LOAD DJMONEY, ES PARA CAMBIAR EL FORMATO DE MONEDA -->

{% block contenido %}

<head>
  <link rel="stylesheet" href="{% static 'core/css/Principal.css' %}">
</head>

<div class="contenido">
  <!-- ESTO ES UNA IMAGEN PARA DARLE MÁS DISEÑO A LA PÁGINA -->
  <img class="bannerDiseño" src="{% static 'core/imagenes/banner.png' %}" alt="">

  <!-- ESTE APARTADO SON LAS CATEGORIAS, EL CUAL, MANDA MEDIANTE EL URL href="{% url 'filtro_productos' %}" EL APARTADO DE PRODUCTOS POR CATEGORIA, EN DONDE SE PUEDEN FILTRAR -->
  <div class="categorias">

    <div id="tituloCategoria">
      <h1 id="tituloCategoria1">~ Categorías ~</h1>
    </div>

    <ul class="ul1">
      <li class="imagenesCategorias"><a href="{% url 'filtro_productos' %}" style="text-decoration: none;"><img class="imagenesAdentro" src="{% static 'core/imagenes/imagen1.png' %}" alt=""></a></li>
      <li class="imagenesCategorias"><a href="{% url 'filtro_productos' %}" style="text-decoration: none;"><img class="imagenesAdentro" src="{% static 'core/imagenes/imagen2.png' %}" alt=""></a></li>
      <li class="imagenesCategorias"><a href="{% url 'filtro_productos' %}" style="text-decoration: none;"><img class="imagenesAdentro" src="{% static 'core/imagenes/imagen3.png' %}" alt=""></a></li>
      <li class="imagenesCategorias"><a href="{% url 'filtro_productos' %}" style="text-decoration: none;"><img class="imagenesAdentro" src="{% static 'core/imagenes/imagen4.png' %}" alt=""></a></li>
    </ul>

  </div>

  <!-- ESTO ES UNA IMAGEN PARA DARLE MÁS DISEÑO A LA PÁGINA -->
  <img class="imagenCatalogo" src="{% static 'core/imagenes/catalogo.png' %}" alt="">

  <div class="content">
    <!-- ACA SE ITERAN TODOS LOS PRODUCTOS, TODO ESTO ES APLICADO A CSS Y ETIQUETAS HTML PARA QUE AL MOMENTO DE AGREGAR MÁS CONTENIDO, SE AGREGUE DE FORMA ORDENADA Y RESPETANDO EL DISEÑO -->
    {% for p in productos %}
    <div id="cartas">
      <div class="card">
        
        <div class="card-body">
          <div class="card-mitad-arriba">
            <!-- ACA VA TODA LA INFO DEL PRODUCTO -->
            <img src="{{ p.imagen1 }}" class="imagenCarta" alt="...">
            <h5 class="card-title">{{ p.nombre }}</h5>
            <!-- ESTE "IF" ES PARA PREGUNTAR SI EXITEN DESCUENTOS, SI NO EXISTEN, SE MUESTRA EL PRECIO NORMAL, SINO, SE MUESTRA TODO EN DETALLE CUANDO SE DESCUENTA TACHANDO ADEMÁS EL PRECIO ORIGINAL -->
            {% if p.descuento == 0 %}
            <p class="card-text_precio">${% money_localize p.precio 'CLP' %}</p>
            {% else %}
            <p class="card-text_descuento" style='text-decoration: line-through; color: brown;'>Precio original: ${% money_localize p.precio 'CLP' %}</p>
            <p class="card-text_precio" style="color: rgb(0, 56, 0)">${% money_localize p.preciodescuento 'CLP' %}</p>
            <p class="card-text">Descuento: -{{ p.descuento }}%</p>
            {% endif %}
            <p class="card-text">Stock: {{ p.stock }}</p>
          </div>
          <hr>
          <div class="card-botones">            
            <!-- ESTE BOTÓN ES PARA QUE AL PRECIONARLO SE AGREGUE AL CARRITO, MEDIANTE LA URL href="{% url 'Add' p.id %}" Y AL MISMO TIEMPO SE ACTUALICE EN TIEMPO REAL EL AÑADIR PRODUCTOS -->
            <a href="{% url 'Add' p.id %}" class="boton cinco">
              <div class="icono">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 
                    12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 
                    0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
              </div>
              <span id="texto">Comprar</span>
            </a>
            <div class="division"></div>
            <!-- ESTE BOTÓN ES PARA VER EN MAYOR DETALLE EL PRODUCTO QUE QUERRAMOS VER, ESTE SE PASA CON SU ID Y AL ENTRAR EN LA OTRA PAGINA RECONOCE EL PRODUCTO QUE SE DESEA VER -->
            <a href="{% url 'detalle_producto' p.id %}" class="boton seis">
              <div class="icono1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                  viewBox="0 0 16 16">
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668
                    5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288
                    -.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 
                    13.134 0 0 1 1.172 8z" />
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
              </div>
              <span id="texto2">Ver producto</span>
            </a>
          </div>          
        </div>

      </div>
    </div>
    {% endfor %}
  </div>  
</div>
{% endblock %}