{% load static %}

{% block contenido %}
<head>
    <link rel="stylesheet" href="{% static 'core/css/administrador/registro5.css' %}">
</head>


<body>
    <div class="content">
            <div class="tabla">
                <h1>Visualizar transferencias</h1>
            <table class="table table-hover">
                <tr>
                    <th>Id usuario</th>
                    <th>Nombre</th>
                    <th>apellido </th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Tipo de pago</th>
                    <th>Ver carrito</th>
                    <th>Opciones</th>
                </tr>
                {% for i in peticion %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.nombre}}</td>
                        <td>{{i.apellido}}</td>
                        <td>{{i.user}}</td>
                        <td>{{i.correo}}</td>
                        <td>{{i.estado }}</td>
                        <td>{{i.tipo_pago }}</td>
                        <th>
                            <button type="submit" class="btn btn-success">
                                <a href="{% url 'ver_carrito_t' i.id %}" style="text-decoration: none;">👁️</a>
                            </button>
                        </th>
                        <td>
                            <button type="submit" class="btn btn-success">
                                <a href="{% url 'validar_transferencia' i.id %}" style="text-decoration: none;">✔️</a>
                            </button>
                            <button type="cancel" class="btn btn-danger">
                                <a href="{% url 'rechazar_transferencia' i.id %}" style="text-decoration: none;">❌</a>
                            </button>
                        </td>

                    </tr>
                {% endfor %}
            </table>
            <br><br><br>
            <a href="{% url 'menuOpcionesContador' %}" style="text-decoration: none;  color: white;">
                <span>
                    <h1>
                        Volver
                    </h1>
                </span>
            </a>
        </div>
    </div>
</body>
{% endblock %}
