*{
    padding: 0;
    margin: 0;
}

/* .contenedor{
    height: auto;
    width: 100%;
    background-color: rgb(255, 0, 0);
    min-height: 100vh;
}

.contenido{
    height: auto;
    width: 100%;
    background-color: blue;
} */
