@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

.contenidoCarrito{
    display: none;
}

.logoEnlace1{
    display: none;
}


.contenedor{
    width: 100%;
    height: 100%;
}

.contenido{
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    background-image: url(/static/core/imagenes/FondoBorroso.png);
    width: 100%;
    height: 100%;
}

.contenidoFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.identificacion{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 20px 30px black;
}

.titulosFormularios{
    font-size: 1.5rem;
    margin-top: 15px;
    font-family: 'Pathway Extreme', sans-serif;
    font-weight: bold;
}

#div_id_nombre{
    width: 100%;
}

#id_nombre{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_nombre:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

#id_apellido{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_apellido:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

#id_celular{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_celular:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

#id_correo{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_correo:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

.asteriskField{
    display: none;
}

.despacho{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 20px 30px black;
    padding-top: 50px;
}

#id_nombre_calle{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_nombre_calle:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

#id_numero_calle{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_numero_calle:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

#id_region{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_region:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

.tipoPago{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 20px 30px black;
    padding-top: 50px;
}

#id_tipo_pago{
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.459);
    color: black;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_tipo_pago:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

.ckecks{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonEnviarDatos{
    width: 50%;
    padding-top: 70px;
    padding-bottom: 20px;
}

#tituloSucursal{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tituloDireccion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 0px 5px 0px 5px;
}

#diseñoBoton{
    width: 60%;
    height: 120%;
}

.datosPago{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    margin: 20px 20px 50px 20px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border: solid 3px rgba(0, 0, 0, 0.055);
    border-radius: 40px;
    box-shadow: 0px 10px 30px black;
}

.carritoCompra1{
    width: 35%;
    height: 100%;
    margin: 20px 20px 50px 20px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border: solid 3px rgba(0, 0, 0, 0.055);
    border-radius: 40px;
    box-shadow: 0px 10px 30px black;
}

.botonesCheck{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding-bottom: 30px;
}

.datosEnvio{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#sucursalTitulo1{
    text-align: center;
    font-size: 20px;
}

.ordenPago{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    height: 100%;
}

.imagenesPagos{
    width: 132px;
    height: 90;
    border-radius: 20px;
    box-shadow: 0px 5px 25px black;
}

#sucursalTitulo2{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 40px;
}

.titulosAcordion{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ACA DISEÑO DEL BOOSTRAP */







/* DESDE ACÁ ES SÓLO EL CARRO */

.contenidoCarrito1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 9994;
    overflow-y: scroll;
    overflow-x: hidden;
}

.listaCarrito1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.imagenCarrito{
    width: 170px;
    height: 150px;
    border-radius: 40px;
    border: rgba(0, 0, 0, 0.041) 3px solid ;
    margin: 15px 0px 20px 30px;
}

tr{
    text-align: center;
}

th{
    margin: 0px 20px 0px 0px;
    padding: 15px 20px 0px 20px;
}

#espacioImagen{
    padding: 15px 90px 0px 30px;
}

.espacioTitulos{
    padding: 15px 50px 0px 0px;
}

.datosTabla{
    padding: 0px 20px 0px 0px;
}

.datosTabla2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 15%;
    left: 15%;
    bottom: 96px;
    margin: 0px 0px 15px 10px;
    padding: 5px 0px 0px 50px;;
}

.datosTabla3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 60px 0px 25px;
    width: 10%;
}

.precioTotal1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: black;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
}

.contenidoCarrito{
    padding-right: 0%;
}

.alertaStock{
    width: 60px;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    font-weight: bold;
}

@media (max-width: 1600px){
	.datosPago{
        width: 50%;
	}

    .carritoCompra1{
        width: 50%;
    }
}

@media (max-width: 1200px){
    .contenido{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .datosPago{
        width: 70%;
	}
    .carritoCompra1{
        width: 80%;
    }
}