@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.contenido{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	display: flex;
	justify-content: space-between;
	margin: 50px;
	height: 100%;
	padding-top: 12%;
	background-color: white;
	max-width: 1800px;
}

/*lado izquierdo*/
#image-section {
	width: 48%;
	display: flex;
	flex-direction: column;
}

#carouselExampleFade{
	margin: 10px;
	max-width: 750px;
}

.section2 {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
}

.thumbnails-images{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.thumbnail img {
	width: 70%;
	margin: 5px 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.thumbnail img:hover {
	transform: scale(1.2);
}  

/*lado derecho*/
.product-title{
	font-family: 'Montserrat', sans-serif;
}

#detalles-producto {
	width: 50%;
}

.detalles-container {
	padding: 5%;
}

.product-title{
	font-size: 20px;
	border-bottom: 1px solid rgba(29,54,82,.1294117647)!important;
}

.precio {
	font-family: 'Braah One', sans-serif;
	font-size: 4em;
	border-bottom: 1px solid rgba(29,54,82,.1294117647)!important;
}

.preciogrande{
	margin-bottom: -40px;
	color: rgb(5, 56, 0);
}

.precioanterior{
	font-family: 'Times New Roman', Times, serif, sans-serif;
	font-size: 0.5em;
	color: rgb(88, 7, 7);
	text-decoration: line-through;
}

.descripcion-producto {
	font-family: 'Pathway Extreme', sans-serif;
	line-height: 1.5;
	margin-bottom: 20px;
}

.comprar{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.form {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.comprar a{
	width: 30%;
}

#agregar{
	margin: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
}

#agregar span{
	margin: 0px 10px;
}

.stock{
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px solid rgba(29,54,82,.1294117647)!important;
}

.detalles-container2{
	font-family: 'Pathway Extreme', sans-serif;
	margin: 2px;
	padding: 2%;
}

.ficha-tecnica{
	display: flex;
	padding-bottom: 2%;
	border-bottom: 1px solid rgba(29,54,82,.1294117647)!important;
}

.specification{
	width: 30%;
}

.description{
	width: 70%;
}

.manual{
	display: flex;
	justify-content: center;
}

@media (max-width: 1000px){
	.content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#image-section{
		width: 80%;
	}

	#detalles-producto{
		width: 100%;
	}
}
