*{
    padding: 0;
    margin: 0;
}

.contenedor{
    height: auto;
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    background-image: url(/static/core/imagenes/FondoBorroso.png);
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto; 
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 40px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 10px 10px 10px 10px; */
    border-radius: 40px;
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.imagenProducto{
    border-radius: 40px;
    padding: 10px 30px 10px 10px;
    width: 240px;
    height: 220px;
    /* background-color: blue; */
}

.OrdenContenido{
    display: flex;
    align-items: flex-start;
}

.espacio1{
    width: 40%;
}

.espacio2{
    width: 40%;
}

.botonModificar{
    padding-left: 20px;
    padding-bottom: 10px;
}

.botones{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-body{
    padding-left: 0px;
}

.botonVolver{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 20px;
    bottom: 40%;
    left: 85%;
    position: fixed;
    z-index: 9997;
}

.botonVolver:hover{
    background-color: rgb(0, 0, 0);
}