*{
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 100%;
    height: 100%;
    background-image: url(/static/core/imagenes/fondoBorroso.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.932);
    width: 23%;
    height: 36%;
    border-radius: 50px;
    padding-top: 30px;
    border: solid rgb(255, 255, 255) 2px; 
    box-shadow: 0px 20px 30px black;
    color: #fff;
}

.espacio1{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 80%;
}

.espacio2{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10%;
    padding-bottom: 20px;
    padding-top: 30px;
}

span:hover{
    font-size: 17px;
    color: rgb(23, 193, 223);
}

.botonEnviar{
    position: relative;
    bottom: 5%;
    background-color: #ffffff; /* Color de fondo */
    border: none; /* Sin borde */
    box-shadow: 0px 2px 30px black;
    color: black; /* Color de texto */
    padding: 15px 32px; /* Espacio interno */
    text-align: center; /* Alineación de texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Elemento en línea */
    font-size: 14px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen externo */
    cursor: pointer; /* Cursor al pasar */
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 30px;
}

.botonEnviar:hover{
    background-color: black;
    color: white;
    border: solid white 2px;
}

#id_username{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    text-align: center;
    height: 10%;
}

#id_password{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 40px;
    border-radius: 8px;
    border: none;
    text-align: center;
    height: 10%;
}

.asteriskField{
    display: none;
}

label{
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

li{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    width: 90%;
    padding-left: 6%;
    font-size: 15px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.822);
}

@media (max-width: 1790px){
    .contenido{
        min-width: 400px;
    }
}

@media (max-height: 1790px){
    .contenido{
        min-height: 350px;
    }
}