*{
    padding: 0;
    margin: 0;
}

.contenedor{
    height: 100%;
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    background-image: url(/static/core/imagenes/FondoBorroso.png);
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 120vh; 
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 40px;
}

.form-list{
    display: flex;
    flex-direction: column;
}

.card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 800px;
    border-radius: 40px;
}

.card-body{
    text-align: center;
    width: 100%;
}